@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Roboto+Slab:wght@300&display=swap');
:root{ 
  --gray: #828282;
  --white: #fff;
  --blue: #008dff;
  --clubBlack:#00043a;
  --clubPremium:#0003a6;
  --clubClassic: #575add;
  --backgroundBody: #f2f0f0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: var(--backgroundBody);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
